
	<h4> 
		"I aim for Freedom, Empathy, and Indepedence for All People"
	</h4>
	<ul class='navigation'>
		<li><a target='_blank' href='https://www.youtube.com/user/stevenzeiler/videos'>Show</a></li>
		<li><a target='_blank' href='http://stevenzeiler.tumblr.com'>Blog</a></li>
		<li><a href='/contact'>Contact</a></li>
		<li><a href='/pay'>Pay</a></li>
	</ul>

