
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Steven Zeiler</h1> 
			<h6> 
				Cryptographer, technologist, polyglot,<br/> anarchist and entrepreneur.
			</h6>
			<img src='/images/steven_souls_of_san_francisco_top_hat.jpg'/>
			<h4> 
				"I aim for Freedom, Empathy, and Indepedence for All People"
			</h4>
			<ul class='navigation'>
				<li><a target='_blank' href='https://www.youtube.com/user/stevenzeiler/videos'>Show</a></li>
				<li><a target='_blank' href='http://stevenzeiler.tumblr.com'>Blog</a></li>
				<li><a href='/zeilermark-currency.html'>Contact</a></li>
				<li><a href='/zeilermark-currency.html'>Contribute</a></li>
			</ul>
	 </div>
		<div class="col-md-4"></div>
	</div>

</div> <!-- /container -->  
