
			<h4>
				Bitcoin
			</h4>
			<a class="address" href="bitcoin:13hcGfctHsyApBpPdwjeFLo4xhwVsfsT6N">13hcGfctHsyApBpPdwjeFLo4xhwVsfsT6N</a>
			<div id="qrcode"></div>
		<script type="text/javascript">
		new QRCode(document.getElementById("qrcode"), "13hcGfctHsyApBpPdwjeFLo4xhwVsfsT6N");
		</script

